#content {
    margin: 0 auto;
    max-width: 1600px;
}
#background {
    height: 725px;
}
body {
    background-color: #E2CFEA; 
}
header {
    background-color:#6320EE;
}
nav a:hover {
    background-color: #623B5A;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
.logo {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
} 
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
} 